<div class="d-none hide" id="video-tag-wrapper">
  <video src="" id="audioTag"></video>
</div>
<div id="playerFooter" class="hide grey darken-4">
  <div class="audio-progress-bar hide-on-large-only show-on-medium-and-down"
    style="width: 0%; height: 3px;background-color: white;"></div>
  <div class="row m-2 ">
    <div class="col s12 m12 l4 xl4 mt-2 center">
      <i class="material-icons" style="font-size: 2.5rem !important;">favorite_border</i>
      <span> <a href="#"><img id="audio-player-cover" width="40px" height="47px" src=""
            class="responsive-img"> </a> </span>
      <span class="left-align" style="display: inline-block;">
        <span id="audio-player-title"></span>
        <br>
        <span class="grey-text ligthen-5" id="audio-player-artist"><a class="grey-text lighten-5" href="#"> Mazzy Star</a></span>
      </span>
    </div>

    <div class="col s12 m12 l4 xl4 mb-2 mt-2 center offset-l2 offset-xl2">
      <span class="audio-control-btn center-align">
        <i class="c-pointer material-icons shuffle-state-icon" data-type="shuffle">shuffle</i>
        <i class="c-pointer material-icons ml-2" onclick="changeTrack(0, 1);">skip_previous</i>
        <i class="c-pointer material-icons ml-2" id="audio-state-icon">pause_circle_outline</i>
        <i class="c-pointer material-icons ml-2" onclick="changeTrack(1, 1);">skip_next</i>
        <i class="c-pointer material-icons ml-2 repeat-state-icon" data-type="repeat">repeat</i>
        <a href="#queueModal" id="queue-modal-trigger" data-opened="0"><i class="white-text c-pointer material-icons ml-2">playlist_play</i></a>
      </span>
      <div class="progress c-pointer white hide-on-med-and-down show-on-large-only">
        <div class="audio-progress-bar blue-grey darken-1 determinate" style="width: 0%;"></div>
      </div>
      <small style="margin-top: -5px;" class="hide-on-med-and-down show-on-large-only left audio-current-time"></small>
      <small style="margin-top: -5px;" class="audio-duration hide-on-med-and-down show-on-large-only right"></small>
    </div>

  </div>
</div>
</div>