
<div id="playerFooter" class="grey darken-4">
  <div class="audio-progress-bar hide-on-large-only show-on-medium-and-down"
    style="width: 40%;height: 3px;background-color: white;"></div>
  <div class="row m-2 ">
    <div class="col s12 m12 l4 xl4 mt-2 center">
      <i class="material-icons" style="font-size: 2.5rem !important;">favorite_border</i>
      <span> <a href="#"><img src="https://api.napster.com/imageserver/v2/albums/alb.200863246/images/40x47.jpg"
            class="responsive-img"> </a> </span>
      <span class="left-align" style="display: inline-block;">
        Blue flowers
        <br>
        <span class="grey-text ligthen-5"><a class="grey-text lighten-5" href="#"> Mazzy Star</a></span>
      </span>
    </div>

    <div class="col s12 m12 l4 xl4 mb-2 mt-2 center offset-l2 offset-xl2">
      <span class="audio-control-btn center-align">
        <i class="material-icons">shuffle</i>
        <i class="material-icons ml-2">skip_previous</i>
        <i class="material-icons ml-2">play_circle_outline</i>
        <i class="material-icons ml-2">skip_next</i>
        <i class="material-icons ml-2">repeat</i>
      </span>
      <div class="progress white hide-on-med-and-down show-on-large-only">
        <div class="blue-grey darken-1 determinate" style="width: 70%"></div>
      </div>
    </div>

  </div>
</div>
</div>

      {{!-- <button class="playback btn grey mt-2 darken-4 previous"> <i class="material-icons tiny">skip_previous</i></button>
      <button class="playback btn grey mt-2 darken-4 control-icon"><i class="material-icons tiny">stop</i></button>
      <button class="playback btn grey mt-2 darken-4 next"> <i class="material-icons tiny">skip_next</i></button>
      <button class="playback btn grey mt-2 darken-4 next"> <i class="material-icons tiny">shuffle</i></button>
      <button class="playback btn grey mt-2 darken-4 next"> <i class="material-icons tiny">repeat</i></button>
      <button class="playback btn grey mt-2 darken-4 modal-trigger" data-target="modal3"> <i class="material-icons tiny">playlist_play</i></button> --}}

<div id="modal3" class="modal bottom-sheet z-depth-5" style="border: 2px solid #263238; background-color: #212121;color: white;" tabindex="0">
  <div class="modal-content">
    <div class="row">
      <div class="col s12">
        <ul class="tabs grey darken-4">
          <li class="tab col s6 darken-4"><a style="color:white !important;" class="text-white text-white active" href="#queue-list">Queue</a></li>
          <li class="tab col s6 darken-4"><a style="color:white !important;" class="text-white text-white" href="#lyric">Lyric</a></li>
        </ul>
    </div>
  </div>
  <div id="lyric" class="col s12">
    <small class="header">This lyric aren't time-synced (yet).</small>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi fugit rerum quia est aliquid architecto distinctio soluta nihil corporis eaque. Accusamus alias, distinctio minima accusantium dolor neque ducimus ut quidem.</p>
  </div>
    <div id="queue-list" class="col s12">
    <h3 class="header">Queue</h3>
    <table>
      <tbody>
          <tr style="border-bottom:1px solid #212121;" class="track-field track0" data-tracknumber="0" data-name="She Belongs to Me (Take 1, Solo Acoustic)" data-artist="Bob Dylan">
            <td>
              <span> <a href="/album/alb.200863246"><img src="https://api.napster.com/imageserver/v2/albums/alb.200863246/images/70x47.jpg" class="responsive-img"> </a> </span>
              <span style="display: inline-block;">
                 She Belongs to Me (Take 1, Solo Acoustic) 
                <br>
                <span class="grey-text ligthen-5 "><a class="grey-text lighten-5" href="/artist/art.831"> Bob Dylan</a> • <a class="grey-text lighten-5" href="/album/alb.200863246">The Cutting Edge 1965-1966: The Bootleg Series, Vol.12 (Deluxe Edition)</a>   </span>
              </span>
            </td>
          </tr>
          
      </tbody>
    </table>
    </div>
  </div>
</div>