
<div id="queueModal">
  <!--THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID  class="close-queue-modal" -->
  <div id="btn-close-modal" class="close-queueModal"> 
    {{!-- <i class="large material-icons mt-5">close</i> --}}
  </div>
            
  <div>
      <ul class="tabs grey row darken-4">
        <li class="tab col s6 darken-4"><a style="color:white !important;" class="text-white text-white active" href="#queue-list" onclick="return false;">Queue</a></li>
        <li class="tab col s6 darken-4"><a style="color:white !important;" class="text-white text-white" href="#lyric" onclick="return false;">Lyric</a></li>
      </ul>

      <div id="queue-list">
        <div class="container">
          <table>
            <tbody id="queue-list-table">

            </tbody>
          </table>
        </div>
      </div>
      
      <div id="lyric" class="col s12">
        <small class="header">This lyric aren't time-synced (yet).</small>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi fugit rerum quia est aliquid architecto distinctio soluta nihil corporis eaque. Accusamus alias, distinctio minima accusantium dolor neque ducimus ut quidem.</p>
      </div>
  </div>
</div>