<div id="recommendation-playlists-wrapper"></div>

<div id="top-artists-wrapper"></div>

<div id="top-albums-wrapper"></div>

<div id="top-playlists-wrapper"></div>

<script>
    $(async function() {
        getRequest('https://api.deezer.com/radio/top?output=jsonp', 'jsonp', function (data) {
            data.data.map(d => {
                d.picture_medium = `https://textoverimage.moesif.com/image?image_url=${d.picture_medium}&text=${d.title}&x_align=center&y_align=middle&text_size=16&margin=2`
            })
            appendCardsComponent("Radio MIX You'll Like", data.data, 'recommendation-playlists-cards','#recommendation-playlists-wrapper');
        })
        getRequest('https://api.deezer.com/editorial/0/charts?output=jsonp', 'jsonp', function (charts) {
            appendCardsComponent("Top Playlists", charts.playlists.data, 'top-playlists-cards','#top-playlists-wrapper');
            appendCardsComponent("Top Artists", charts.artists.data, 'top-artists-cards','#top-artists-wrapper', 'name');
        })
        
        getRequest('https://api.deezer.com/editorial/0/selection?output=jsonp', 'jsonp', function (albums) {
            appendCardsComponent("Top Albums", albums.data, 'top-albums-cards','#top-albums-wrapper');
        })
    });
</script>