<div class="container">
    <div class="row mt-5">
        <div class="col s12 m12 l6 xl6 center">
            <img src="{{artist.picture_big}}" style="border: 1px solid #263238" class="z-depth-5circle circle responsive-img">
        </div>
        <div class="col s12 m12 l6 xl6 center">
            <h4 style="font-weight: bold;">{{artist.name}}</h4>
            {{> track_list_1 (object items=topTracks.data) }} 
        </div>
    </div>

    <div id="artist-albums-wrapper">
        {{> card_slide (object cardTitle="Discography" idName="artist-albums-card" cardTextFrom="title" items=artistAlbums.data ) }}
    </div>

    <div id="artist-playlists-wrapper">
        {{> card_slide (object cardTitle="Playlists" idName="artist-playlists-card" cardTextFrom="title" items=artistPlaylists.data ) }}
    </div>

    {{#if similiarArtists.data}}
        <div id="related-artist-wrapper" style="margin-bottom: 9rem !important;">
            {{> card_slide (object cardTitle="Fans also like" idName="similiar-artists-card" cardTextFrom="name" items=similiarArtists.data ) }}
        </div>
    {{/if}}

</div>


<script>
$(function() {
    initSplide('#artist-albums-card', {
        perPage: 6,
        permove: 4,
        breakpoints: {
            640: {
                perPage: 3,
            },
            800: {
                perPage: 3,
            }
        }
    })
    initSplide('#artist-playlists-card')
    initSplide('#similiar-artists-card')
});

</script>